@charset "utf-8";
/* CSS Document */

* {
	padding: 0;
	margin: 0;
	list-style: none;
	font-family: HarmonyOS-Sans, PingFang SC, Microsoft YaHei;
}
@font-face {
	font-family: HarmonyOS-Sans;
	font-weight: normal;
	font-display: swap;
	src: url(fonts/HarmonyOS-Sans-Regular.ttf);
}
@font-face {
	font-family: HarmonyOS-Sans;
	font-weight: bold;
	font-display: swap;
	src: url(fonts/HarmonyOS-Sans-Bold.ttf);
}
.navs {
	height: 72px;
	width: 100%;
	background: #fff;
}
.nav {
	height: 72px;
	width: 1440px;
	margin: auto;
}
.nav-logo {
	height: 72px;
	width: 230px;
	float: left;
	line-height: 72px;
	font-size: 26px;
	font-weight: bold;
	letter-spacing: 1px;
}
.nav-logo a {
	text-decoration: none;
	color: #000;
}
.nav-menu {
	height: 48px;
	width: 600px;
	float: left;
	margin-top: 12px;
}
.nav-menu li {
	height: 48px;
	width: 120px;
	float: left;
	text-align: center;
	line-height: 48px;
	letter-spacing: 1px;
	font-weight: bold;
}
.nav-menu li a {
	text-decoration: none;
	color: #000;
}
.nav-menu li a:hover {
	color: #ff4e4e;
}
.nav-right {
	height: 24px;
	width: 24px;
	float: right;
	padding: 24px 0 24px 24px;
}
.main {
	height: 940px;
	width: 100%;
	min-width: 1440px;
	background: url(images/home-photo.png) no-repeat;
	background-position: center 0px;
	overflow: hidden;
}
.main-middle {
	height: 940px;
	width: 1440px;
	margin: auto;
}
.main-content {
	height: 300px;
	width: 800px;
	margin: 272px 0 0 0;
	font-size: 36px;
	line-height: 100px;
	font-weight: bold;
	color: #000;
}
.main-content span {
	font-size: 22px;
	color: #666;
}
.point {
}
.column1 {
	height: auto;
	width: 100%;
	background: #f2f4f6;
	padding: 60px 0;
	min-width: 1440px;
}
.column2 {
	height: auto;
	width: 100%;
	background: #fff;
	padding: 60px 0;
}
.column-title {
	height: 24px;
	width: 1440px;
	margin: auto;
}
.column-title-icon {
	height: 24px;
	width: 24px;
	float: left;
}
.column-title-title {
	height: 24px;
	width: 320px;
	font-size: 20px;
	line-height: 24px;
	font-weight: bold;
	margin-left: 24px;
	float: left;
	letter-spacing: 1px;
}
.column-box1 {
	height: 480px;
	width: 1320px;
	margin: 60px auto 0;
	border-radius: 24px;
	background: #fff;
	padding: 60px;
}
.column-box2 {
	height: 480px;
	width: 1320px;
	margin: 60px auto 0;
	border-radius: 24px;
	background: #f2f4f6;
	padding: 60px;
}
.column-box-picture {
	height: 480px;
	width: 630px;
	float: left;
}
.column-box-picture-bg1 {
	height: 450px;
	width: 600px;
	background: #d0dfff;
	border-radius: 5px;
}
.column-box-picture-pic1 img {
	height: 450px;
	width: 600px;
	border-radius: 5px;
	border: 2px solid #d0dfff;
	margin: -424px 0 0 26px;
}
.column-box-picture-bg2 {
	height: 450px;
	width: 600px;
	background: #fde2d9;
	border-radius: 5px;
}
.column-box-picture-pic2 img {
	height: 450px;
	width: 600px;
	border-radius: 5px;
	border: 2px solid #fde2d9;
	margin: -424px 0 0 26px;
}
.column-box-picture-bg3 {
	height: 450px;
	width: 600px;
	background: #eee4c9;
	border-radius: 5px;
}
.column-box-picture-pic3 img {
	height: 450px;
	width: 600px;
	border-radius: 5px;
	border: 2px solid #eee4c9;
	margin: -424px 0 0 26px;
}
.column-box-content1 {
	height: 280px;
	width: 590px;
	float: left;
	margin: 100px 0 0 100px;
}
.column-box-content2 {
	height: 280px;
	width: 590px;
	float: left;
	margin: 100px 100px 0 0px;
}
.column-box-content3 {
	height: 372px;
	width: 590px;
	float: left;
	margin: 54px 100px 0 0px;
}
.column-box-content-title {
	height: 60px;
	width: 590px;
	font-size: 30px;
	line-height: 60px;
	font-weight: bold;
	text-align: left;
	letter-spacing: 1px;
}
.column-box-content-content {
	height: 132px;
	width: 590px;
	font-size: 18px;
	font-weight: bold;
	text-align: left;
	letter-spacing: 1px;
	margin-top: 22px;
	color: #888;
}
.column-box-content-content span {
	color: #000;
	font-size: 20px;
}
.column-box-content-content p {
	margin-top: 16px;
}
.column-box-content-btn1 {
	height: 48px;
	width: 120px;
	background: #ff4e4e;
	line-height: 48px;
	text-align: center;
	color: #fff;
	font-weight: bold;
	letter-spacing: 1.5px;
	border-radius: 5px;
	float: left;
}
.column-box-content-btn2 {
	height: 48px;
	width: 120px;
	background: #888;
	line-height: 48px;
	text-align: center;
	color: #fff;
	font-weight: bold;
	letter-spacing: 1.5px;
	border-radius: 5px;
	float: left;
}
.column-box-content-btn3 {
	height: 48px;
	width: 120px;
	background: #ff4e4e;
	line-height: 48px;
	text-align: center;
	color: #fff;
	font-weight: bold;
	letter-spacing: 1.5px;
	border-radius: 5px;
	float: left;
	margin-left: 24px;
}
.column-box-content-btn1 a {
	text-decoration: none;
	color: #fff;
}
.column-box-content-btn2 a {
	text-decoration: none;
	color: #fff;
}
.column-box-content-btn3 a {
	text-decoration: none;
	color: #fff;
}
.column-box-music {
	height: 420px;
	width: 570px;
	float: left;
	background: #fff;
	border-radius: 10px;
	padding: 30px;
}
.column-box-music-title {
	height: 18px;
	width: 570px;
	line-height: 18px;
	font-size: 18px;
	font-weight: bold;
	letter-spacing: 1px;
	padding-bottom: 30px;
}
.column-box-music-list1 {
	height: 62px;
	width: 570px;
	background: #f9f9f9;
}
.column-box-music-list2 {
	height: 62px;
	width: 570px;
	background: #fff;
}
.column-box-music-list3 {
	height: 62px;
	width: 570px;
	background: #ffeded;
}
.column-box-music-list-icon {
	height: 20px;
	width: 20px;
	padding: 21px 20px;
	float: left;
}
.column-box-music-list-title {
	height: 62px;
	width: 260px;
	float: left;
	font-size: 15px;
	line-height: 60px;
	letter-spacing: 1px;
}
.column-box-music-list-author {
	height: 62px;
	width: 180px;
	float: left;
	font-size: 15px;
	line-height: 60px;
	letter-spacing: 1px;
}
.column-box-music-list-time {
	height: 62px;
	width: 50px;
	float: left;
	font-size: 15px;
	line-height: 60px;
	letter-spacing: 1px;
	padding-right: 20px;
}
.column-box-msg {
	height: 480px;
	width: 630px;
	float: left;
}
.column-box-msg-list1 {
	height: 168px;
	width: 588px;
	background: #fff;
	border: 1px solid #eee;
	padding: 20px;
	border-radius: 10px;
}
.column-box-msg-list2 {
	height: 168px;
	width: 588px;
	background: #fff;
	border: 1px solid #eee;
	padding: 20px;
	border-radius: 10px;
	margin-top: 60px;
}
.column-box-msg-list-uname1 {
	height: 40px;
	width: 40px;
	background: #ddd;
	float: left;
	border-radius: 100px;
}
.column-box-msg-list-uname1 img {
	height: 40px;
	width: 40px;
	border-radius: 100px;
}
.column-box-msg-list-uname2 {
	height: 20px;
	width: 60px;
	line-height: 20px;
	font-size: 16px;
	font-weight: bold;
	float: left;
	padding-left: 20px;
	letter-spacing: 1px;
	color: #ff4e4e;
}
.column-box-msg-list-uname3 {
	height: 20px;
	width: 460px;
	line-height: 20px;
	font-size: 14px;
	color: #444;
	float: left;
	letter-spacing: 1px;
}
.column-box-msg-list-uname4 {
	height: 20px;
	width: 520px;
	line-height: 20px;
	font-size: 13px;
	float: left;
	padding-left: 20px;
	letter-spacing: 1px;
	color: #666;
}
.column-box-msg-list-content {
	height: 61px;
	width: 588px;
	margin: 15px 0;
	float: left;
	line-height: 30px;
	font-size: 16px;
	letter-spacing: 1px;
}
.column-box-msg-list-info {
	height: 16px;
	width: 588px;
	float: left;
	border-top: 1px solid #eee;
	padding-top: 20px;
}
.column-box-msg-list-info-icon {
	height: 16px;
	width: 30px;
	float: left;
	padding: 0 0 0 58px;
}
.column-box-msg-list-info-icon img {
	padding: 0px 5px;
}
.column-box-msg-list-info-info {
	height: 16px;
	width: 50px;
	line-height: 16px;
	float: left;
	font-size: 14px;
	color: #444;
	text-align: center;
	padding: 0 58px 0 0;
	letter-spacing: 1px;
}
.footer {
	height: 72px;
	width: 1440px;
	margin: auto;
}
.footer-copyright {
	height: 72px;
	width: 800px;
	float: left;
	font-size: 13px;
	line-height: 72px;
	text-align: left;
	color: #999;
	letter-spacing: 1px;
}
.footer-copyright a {
	text-decoration: none;
	color: #999;
}
.footer-copyright a:hover {
	color: #ff4e4e;
}
.footer-copyright span {
	color: #ddd;
	padding-left: 8px;
	padding-right: 8px;
}
.footer-language {
	height: 72px;
	width: 300px;
	float: right;
	font-size: 13px;
	line-height: 72px;
	text-align: right;
	color: #999;
	letter-spacing: 1px;
}
.footer-language a {
	text-decoration: none;
	color: #999;
}
.footer-language a:hover {
	color: #ff4e4e;
}
.footer-language span.s1 {
	color: #ddd;
	padding-left: 8px;
	padding-right: 8px;
}
.footer-language span.s2 {
	color: #ddd;
}
