@charset "utf-8";
/* CSS Document */

* {
	padding: 0;
	margin: 0;
	list-style: none;
	font-family: HarmonyOS-Sans, PingFang SC, Microsoft YaHei;
}
/*引入HarmonyOS Sans字体*/
@font-face {
	font-family: HarmonyOS-Sans;
	font-weight: normal;
	font-display: swap;
	src: url(font/HarmonyOS-Sans-Regular.ttf);
}
@font-face {
	font-family: HarmonyOS-Sans;
	font-weight: bold;
	font-display: swap;
	src: url(font/HarmonyOS-Sans-Bold.ttf);
}
.navs {
	height: 72px;
	width: 100%;
	background: rgba(255,255,255,0.8);
	backdrop-filter: saturate(180%) blur(20px);
	top: 0;
	left: 0;
	position: fixed;
	z-index: 999;
}
.nav {
	height: 72px;
	width: 1440px;
	margin: auto;
}
.nav-logo {
	height: 72px;
	width: 240px;
	float: left;
	line-height: 72px;
	font-size: 26px;
	font-weight: bold;
	letter-spacing: 1px;
}
.nav-logo a {
	text-decoration: none;
	color: #000;
}
.nav-menu {
	height: 48px;
	width: 480px;
	margin: 12px 0;
	float: right;
}
.nav-menu li {
	height: 48px;
	width: 160px;
	float: left;
	text-align: right;
	line-height: 48px;
	letter-spacing: 1px;
}
.nav-menu li a {
	text-decoration: none;
	color: #000;
}
.nav-menu li a:hover {
	border-bottom: 4px solid #ff4e4e;
	color: #ff4e4e;
	padding-bottom: 5px;
}
.main {
	height: 682px;
	width: 100%;
	min-width: 1440px;
	background: url(images/main-photo.png) no-repeat;
	background-position: center 0px;
	overflow: hidden;
}
.main-middle {
	height: 682px;
	width: 1440px;
	margin: auto;
}
.main-content {
	height: 300px;
	width: 800px;
	margin: 227px 0 0 0;
	font-size: 36px;
	line-height: 100px;
	font-weight: bold;
	color: #222;
}
.main-content span {
	font-size: 22px;
	color: #666;
}
.main-by {
	margin-top: 110px;
	position: absolute;
	z-index: 2;
	display: none;
}
.main-by a {
	padding: 5px 10px;
	line-height: 24px;
	text-align: center;
	background: rgba(153,153,153,0.3);
	backdrop-filter: saturate(180%) blur(6px);
	border-radius: 3px;
	letter-spacing: 1px;
	color: #fff;
	font-size: 13px;
}
.say {
	height: 98px;
	width: 1440px;
	margin: 100px auto;
}
.say p {
	line-height: 24px;
	text-align: center;
	font-size: 26px;
	letter-spacing: 1px;
	color: #222;
	margin-top:50px;
	font-weight: bold;
}
.box {
	height: 600px;
	width: 1440px;
	margin: 100px auto;
}
.box-left {
	height: 600px;
	width: 705px;
	float: left;
	background: #f2f4f6;
	border-radius: 10px;
}
.box-right {
	height: 600px;
	width: 705px;
	float: left;
	margin-left: 30px;
}
.box-right-top {
	height: 350px;
	width: 705px;
	background: #f2f4f6;
	border-radius: 10px;
}
.box-right-bottom {
	height: 220px;
	width: 705px;
	background: #f2f4f6;
	border-radius: 10px;
	margin-top: 30px;
}
.box-left-pic {
	height: 400px;
	width: 705px;
}
.box-left-content {
	height: 120px;
	width: 705px;
	font-size: 30px;
	font-weight: bold;
	letter-spacing: 1px;
	text-align: center;
	color: #222;
}
.box-left-content span {
	font-size: 18px;
	color: #666;
	margin-top: 16px;
	display: block;
}
.box-left-btn {
	height: 40px;
	width: 120px;
	background: #ff4e4e;
	line-height: 40px;
	text-align: center;
	color: #fff;
	font-weight: bold;
	letter-spacing: 1px;
	border-radius: 100px;
	margin: auto;
}
.box-left-btn a {
	text-decoration: none;
	color: #fff;
}
.box-right-top-pic {
	height: 350px;
	width: 350px;
	float: left;
}
.box-right-top-content {
	height: 120px;
	width: 355px;
	font-size: 30px;
	font-weight: bold;
	letter-spacing: 1px;
	text-align: left;
	color: #222;
	float: left;
	padding-top: 95px;
}
.box-right-top-content span {
	font-size: 18px;
	color: #666;
	margin-top: 16px;
	display: block;
}
.box-right-top-btn {
	height: 40px;
	width: 120px;
	background: #ff4e4e;
	line-height: 40px;
	text-align: center;
	color: #fff;
	font-weight: bold;
	letter-spacing: 1px;
	border-radius: 100px;
	margin: auto;
	float: left;
}
.box-right-top-btn a {
	text-decoration: none;
	color: #fff;
}
.box-right-bottom-pic {
	height: 220px;
	width: 350px;
	float: left;
}
.box-right-bottom-content {
	height: 110px;
	width: 355px;
	font-size: 30px;
	font-weight: bold;
	letter-spacing: 1px;
	text-align: left;
	color: #222;
	float: left;
	padding-top: 30px;
}
.box-right-bottom-content span {
	font-size: 18px;
	color: #666;
	margin-top: 16px;
	display: block;
}
.box-right-bottom-btn {
	height: 40px;
	width: 120px;
	background: #ff4e4e;
	line-height: 40px;
	text-align: center;
	color: #fff;
	font-weight: bold;
	letter-spacing: 1px;
	border-radius: 100px;
	margin: auto;
	float: left;
}
.box-right-bottom-btn a {
	text-decoration: none;
	color: #fff;
}
.footer {
	height: 60px;
	width: 1440px;
	margin: auto;
	border-top: 1px solid #eee;
}
.footer-copyright {
	height: 60px;
	width: 800px;
	float: left;
	font-size: 13px;
	line-height: 60px;
	text-align: left;
	color: #888;
	letter-spacing: 1px;
}
.footer-copyright a {
	text-decoration: none;
	color: #888;
}
.footer-copyright a:hover {
	color: #ff4e4e;
}
.footer-copyright span {
	color: #ddd;
	padding-left: 8px;
	padding-right: 8px;
}
.footer-language {
	height: 60px;
	width: 300px;
	float: right;
	font-size: 13px;
	line-height: 60px;
	text-align: right;
	color: #888;
	letter-spacing: 1px;
}
.footer-language a {
	text-decoration: none;
	color: #888;
}
.footer-language a:hover {
	color: #ff4e4e;
}
.footer-language span.s1 {
	color: #ddd;
	padding-left: 8px;
	padding-right: 8px;
}
.footer-language span.s2 {
	color: #ddd;
}
