@charset "utf-8";
/* CSS Document */

* {
	padding: 0;
	margin: 0;
	list-style: none;
	font-family: HarmonyOS-Sans, PingFang SC, Microsoft YaHei;
}
@font-face {
	font-family: HarmonyOS-Sans;
	font-weight: normal;
	font-display: swap;
	src: url(fonts/HarmonyOS-Sans-Regular.ttf);
}
@font-face {
	font-family: HarmonyOS-Sans;
	font-weight: bold;
	font-display: swap;
	src: url(fonts/HarmonyOS-Sans-Bold.ttf);
}
body {
	background: #f2f4f6;
}
.nav {
	height: 64px;
	width: 100%;
	background: #fff;
	border-bottom: 1px solid #eee;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
}
.nav-pc {
	height: 64px;
	width: 1320px;
	margin: auto;
}
.nav-pc1 {
	height: 64px;
	width: 1320px;
	margin: auto;
}
.nav-pc-logo {
	height: 64px;
	width: 180px;
	line-height: 64px;
	font-size: 24px;
	font-weight: bold;
	text-align: left;
	color: #000;
	float: left;
	margin-left: 20px;
}
.nav-pc-logo a {
	text-decoration: none;
	color: #000;
}
.nav-pc-center {
	height: 64px;
	width: 24px;
	float: right;
	margin-right: 20px;
}
.nav-pc-center img {
	height: 24px;
	width: 24px;
	padding: 20px 0;
	display: block;
}
.nav-pc2 {
	height: 64px;
	width: 1320px;
	margin: -64px auto 0;
}
.nav-pc-menu {
	height: 64px;
	width: 500px;
	margin: auto;
}
.nav-pc-menu li {
	height: 64px;
	width: 100px;
	float: left;
	text-align: center;
	line-height: 64px;
	letter-spacing: 1px;
}
.nav-pc-menu li a {
	text-decoration: none;
	color: #000;
}
.nav-pc-menu li a:hover {
	color: #ff4e4e;
	border-bottom: 6px solid #ff4e4e;
	display: inline;
}
.nav-mobile {
	display: none;
}
.main {
	height: 828px;
	width: 100%;
	margin: 65px auto 0;
	background: #fff;
}
.main-box {
	height: 828px;
	width: 1320px;
	margin: auto;
}
.main-box-left {
	height: 828px;
	width: 640px;
	float: left;
	padding: 0 0 0 20px;
}
.main-box-left-content1 {
	height: 240px;
	width: 640px;
	font-size: 80px;
	line-height: 120px;
	font-weight: bold;
	padding: 228px 0 0 0;
}
.main-box-left-content2 {
	height: 80px;
	width: 640px;
	line-height: 40px;
	font-size: 20px;
	margin-top: 40px;
	letter-spacing: 1px;
	color: #888;
}
.main-box-right {
	height: 580px;
	width: 580px;
	float: left;
	padding: 124px 20px 0 60px;
}
.main-box-right img {
	height: 580px;
	width: 580px;
}
.point {
	height: 64px;
	margin-top: -64px;
}
.column-title {
	height: 24px;
	width: 1280px;
	margin: auto;
	padding: 64px 20px;
}
.column-title-icon {
	height: 24px;
	width: 24px;
	float: left;
}
.column-title-content {
	height: 24px;
	width: 96px;
	font-size: 22px;
	line-height: 24px;
	margin-left: 20px;
	float: left;
}
.column-box1 {
	height: 480px;
	width: 1320px;
	margin: auto;
}
.column-box-project {
	height: 360px;
	width: 320px;
	background: #fff;
	border-radius: 24px;
	padding: 60px 40px;
	float: left;
	margin: 0 20px;
}
.column-box-project-icon {
	height: 48px;
	width: 48px;
	padding: 24px;
	background: #ffdcdc;
	border-radius: 24px;
	margin: auto;
}
.column-box-project-title {
	height: 50px;
	width: 320px;
	font-size: 26px;
	line-height: 50px;
	text-align: center;
	letter-spacing: 1px;
	margin-top: 72px;
}
.column-box-project-content {
	height: 50px;
	width: 320px;
	font-size: 16px;
	line-height: 50px;
	text-align: center;
	letter-spacing: 1px;
	color: #888;
}
.column-box-project-btn {
	height: 48px;
	width: 96px;
	line-height: 48px;
	text-align: center;
	background: #ff4e4e;
	border-radius: 100px;
	padding: 0 15px;
	color: #fff;
	margin: 44px auto 0;
	letter-spacing: 1px;
}
.column-box-project-btn a {
	text-decoration: none;
	color: #fff;
}
.column-box2 {
	height: 480px;
	width: 1320px;
	margin: auto;
}
.column-box-music {
	height: 360px;
	width: 540px;
	background: #fff;
	border-radius: 24px;
	padding: 60px 40px;
	float: left;
	margin: 0 20px;
}
.column-box-music-title {
	height: 50px;
	width: 540px;
	font-size: 26px;
	line-height: 50px;
	text-align: left;
	letter-spacing: 1px;
	margin-bottom: 10px;
}
.column-box-music-content {
	height: 50px;
	width: 320px;
	font-size: 16px;
	line-height: 46px;
	text-align: left;
	letter-spacing: 1px;
	color: #888;
}
.column-box-music-content span {
	font-size: 20px;
	color: #000;
}
.column-box-music-btn {
	height: 48px;
	width: 96px;
	line-height: 48px;
	text-align: center;
	background: #ff4e4e;
	border-radius: 100px;
	padding: 0 15px;
	color: #fff;
	margin: 44px auto 0;
	letter-spacing: 1px;
}
.column-box-music-list1 {
	height: 60px;
	width: 540px;
	background: #fff;
	border-radius: 24px;
}
.column-box-music-list2 {
	height: 60px;
	width: 540px;
	background: #ffdcdc;
	border-radius: 24px;
}
.column-box-music-list3 {
	height: 60px;
	width: 540px;
	background: #f2f4f6;
	border-radius: 24px;
}
.column-box-music-list-icon {
	height: 60px;
	width: 15%;
	float: left;
}
.column-box-music-list-icon img {
	padding: 20px;
}
.column-box-music-list-title {
	height: 60px;
	width: 35%;
	float: left;
	line-height: 60px;
	text-align: left;
	font-size: 16px;
}
.column-box-music-list-author {
	height: 60px;
	width: 30%;
	float: left;
	line-height: 60px;
	text-align: left;
	font-size: 16px;
}
.column-box-music-list-time {
	height: 60px;
	width: 20%;
	float: left;
	line-height: 60px;
	text-align: left;
	font-size: 16px;
}
.column-box3 {
	height: 480px;
	width: 1320px;
	margin: auto;
}
.column-box-photography {
	height: 360px;
	width: 540px;
	background: #fff;
	border-radius: 24px;
	padding: 60px 40px;
	float: left;
	margin: 0 20px;
}
.column-box-photography-icon1 {
	height: 56px;
	width: 94px;
	background: #fff4f4;
	border-radius: 12px;
	margin: auto;
}
.column-box-photography-icon2 {
	height: 66px;
	width: 104px;
	background: #ffeaea;
	border-radius: 12px;
	margin: -46px auto 0;
}
.column-box-photography-icon3 {
	height: 76px;
	width: 114px;
	background: #ffdcdc;
	border-radius: 12px;
	margin: -56px auto 0;
}
.column-box-photography-icon3 img {
	height: 48px;
	width: 48px;
	padding: 14px 33px;
}
.column-box-photography-title {
	height: 50px;
	width: 540px;
	font-size: 26px;
	line-height: 50px;
	text-align: center;
	letter-spacing: 1px;
	margin-top: 72px;
}
.column-box-photography-tags {
	height: 32px;
	width: 216px;
	font-size: 16px;
	line-height: 32px;
	text-align: center;
	letter-spacing: 1px;
	color: #888;
	padding: 9px 0;
	margin: auto;
}
.column-box-photography-tag {
	height: 32px;
	width: 60px;
	float: left;
	font-size: 14px;
	line-height: 32px;
	background: #ffdcdc;
	color: #ff4e4e;
	border-radius: 24px;
	margin: 0 6px;
	letter-spacing: 1px;
}
.column-box-photography-btn {
	height: 48px;
	width: 96px;
	line-height: 48px;
	text-align: center;
	background: #999;
	border-radius: 100px;
	padding: 0 15px;
	color: #fff;
	margin: 44px auto 0;
	letter-spacing: 1px;
}
.footers {
	height: 56px;
	width: 100%;
	background: #fff;
	margin-top: 64px;
}
.footer {
	height: 16px;
	width: 1280px;
	margin: auto;
	padding: 20px 20px;
	background: #fff;
}
.footer-copyright {
	height: 16px;
	width: 640px;
	float: left;
}
.footer-copyright-content {
	float: left;
	height: 16px;
	width: auto;
	line-height: 16px;
	font-size: 13px;
	text-align: left;
	color: #999;
	letter-spacing: 1px;
}
.footer-copyright-content a {
	text-decoration: none;
	color: #999;
}
.footer-copyright-content a:hover {
	color: #ff4e4e;
}
.footer-copyright-separator {
	float: left;
	padding-left: 8px;
	padding-right: 8px;
	color: #ddd;
	height: 16px;
	width: auto;
	line-height: 16px;
	font-size: 13px;
	text-align: left;
	letter-spacing: 1px;
}
.footer-language {
	height: 16px;
	width: 640px;
	float: left;
	font-size: 13px;
	line-height: 16px;
	text-align: right;
	color: #999;
	letter-spacing: 1px;
}
.footer-language a {
	text-decoration: none;
	color: #999;
}
.footer-language a:hover {
	color: #ff4e4e;
}
.footer-language span.s1 {
	color: #ddd;
	padding-left: 8px;
	padding-right: 8px;
}
.footer-language span.s2 {
	color: #ddd;
}

/*mobile*/
 @media only screen and (max-width:1319px) {
.nav {
	height: 64px;
	width: 100%;
	background: #fff;
	border-bottom: 1px solid #eee;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
}
.nav-pc {
	display: none;
}
.nav-mobile {
	height: 64px;
	width: 100%;
	margin: auto;
	display: inherit;
}
.nav-mobile1 {
	height: 64px;
	width: 100%;
	margin: auto;
}
.nav-mobile-menu {
	height: 64px;
	width: 100%;
}
.nav-mobile-menu img {
	height: 24px;
	width: 24px;
	padding: 20px;
	display: block;
}
.nav-mobile-menu ul {
	display: none;
	width: 100%;
	background: #fff;
	z-index: 100;
	padding: 0 20px;
	box-sizing: border-box;
}
.nav-mobile-menu:hover ul {
	display: block;
}
.nav-mobile-menu ul li {
	height: 64px;
	width: 100%;
	line-height: 64px;
	color: #000;
	border-bottom: 1px solid #eee;
	letter-spacing: 1px;
}
.nav-mobile-menu ul li a {
	text-decoration: none;
	color: #000;
}
.nav-mobile-menu ul li a:hover {
	color: #000;
}
.nav-mobile-center {
	height: 64px;
	width: 64px;
	float: right;
	margin: -64px 0 0 0;
}
.nav-mobile-center img {
	height: 24px;
	width: 24px;
	padding: 20px;
	display: block;
}
.nav-mobile2 {
	height: 64px;
	width: 100%;
	margin: -64px auto 0;
}
.nav-mobile-logo {
	height: 64px;
	width: 180px;
	line-height: 64px;
	font-size: 22px;
	font-weight: bold;
	text-align: center;
	color: #000;
	margin: auto;
}
.nav-mobile-logo a {
	text-decoration: none;
	color: #000;
}
.main {
	height: 764px;
	width: 100%;
	margin: 65px auto 0;
	background: #fff;
	padding: 0 20px;
	box-sizing: border-box;
}
.main-box {
	height: 764px;
	width: 100%;
	margin: 65px auto 0;
	background: #fff;
}
.main-box-left {
	height: 340px;
	width: 100%;
	padding: 0;
	float: none;
}
.main-box-left-content1 {
	height: 120px;
	width: 100%;
	font-size: 48px;
	line-height: 60px;
	font-weight: bold;
	padding: 100px 0 0 0;
	text-align: center;
}
.main-box-left-content2 {
	height: 60px;
	width: 100%;
	line-height: 30px;
	font-size: 18px;
	margin-top: 20px;
	letter-spacing: 1px;
	text-align: center;
	color: #888;
}
.main-box-right {
	height: auto;
	width: 100%;
	padding: 0;
	margin: auto;
	float: none;
}
.main-box-right img {
	height: 360px;
	width: 360px;
	margin: auto;
	text-align: center;
	max-width: 100%;
	display: block;
}
.point {
	height: 64px;
	margin-top: -64px;
}
.column-title {
	height: 24px;
	width: 100%;
	margin: 0 auto 24px;
	padding: 44px 20px;
	box-sizing: border-box;
}
.column-title-icon {
	height: 24px;
	width: 24px;
	float: left;
}
.column-title-content {
	height: 24px;
	width: 96px;
	font-size: 22px;
	line-height: 24px;
	margin-left: 20px;
	float: left;
}
.column-box1 {
	height: 1270px;
	width: 100%;
	margin: auto;
	padding: 0 20px;
	box-sizing: border-box;
}
.column-box-project {
	height: 410px;
	width: 100%;
	background: #fff;
	border-radius: 24px;
	padding: 50px 40px;
	float: left;
	margin: 0;
	box-sizing: border-box;
	margin: 0 0 20px 0;
}
.column-box-project-icon {
	height: 48px;
	width: 48px;
	padding: 24px;
	background: #ffdcdc;
	border-radius: 24px;
	margin: auto;
}
.column-box-project-title {
	height: 50px;
	width: 100%;
	font-size: 24px;
	line-height: 50px;
	text-align: center;
	letter-spacing: 1px;
	margin-top: 42px;
}
.column-box-project-content {
	height: 50px;
	width: 100%;
	font-size: 16px;
	line-height: 50px;
	text-align: center;
	letter-spacing: 1px;
	color: #888;
}
.column-box-project-btn {
	height: 48px;
	width: 96px;
	line-height: 48px;
	text-align: center;
	background: #ff4e4e;
	border-radius: 100px;
	padding: 0 15px;
	color: #fff;
	margin: 24px auto 0;
	letter-spacing: 1px;
}
.column-box-project-btn a {
	text-decoration: none;
	color: #fff;
}
.column-box2 {
	height: 920px;
	width: 100%;
	margin: auto;
	padding: 0 20px;
	box-sizing: border-box;
}
.column-box-music {
	height: 450px;
	width: 100%;
	background: #fff;
	border-radius: 24px;
	padding: 40px 40px 50px 40px;
	float: left;
	margin: 0 0 20px 0;
	box-sizing: border-box;
}
.column-box-music-title {
	height: 50px;
	width: 100%;
	font-size: 24px;
	line-height: 50px;
	text-align: left;
	letter-spacing: 1px;
	margin-bottom: 10px;
}
.column-box-music-content {
	height: 50px;
	width: 100%;
	font-size: 16px;
	line-height: 44px;
	text-align: left;
	letter-spacing: 1px;
	color: #888;
}
.column-box-music-content span {
	font-size: 18px;
	color: #000;
}
.column-box-music-btn {
	height: 48px;
	width: 96px;
	line-height: 48px;
	text-align: center;
	background: #ff4e4e;
	border-radius: 100px;
	padding: 0 15px;
	color: #fff;
	margin: 44px auto 0;
	letter-spacing: 1px;
}
.column-box-music-list1 {
	height: 60px;
	width: 100%;
	background: #fff;
	border-radius: 24px;
}
.column-box-music-list2 {
	height: 60px;
	width: 100%;
	background: #ffdcdc;
	border-radius: 24px;
}
.column-box-music-list3 {
	height: 60px;
	width: 100%;
	background: #f2f4f6;
	border-radius: 24px;
}
.column-box-music-list-icon {
	height: 60px;
	width: 20%;
	float: left;
}
.column-box-music-list-icon img {
	padding: 20px;
}
.column-box-music-list-title {
	height: 60px;
	width: 50%;
	float: left;
	line-height: 60px;
	text-align: left;
	font-size: 15px;
}
.column-box-music-list-author {
	height: 60px;
	width: 30%;
	float: left;
	line-height: 60px;
	text-align: left;
	font-size: 15px;
}
.column-box-music-list-time {
	height: 60px;
	width: 20%;
	float: left;
	line-height: 60px;
	text-align: left;
	font-size: 15px;
	display: none;
}
.column-box3 {
	height: 840px;
	width: 100%;
	margin: auto;
	padding: 0 20px;
	box-sizing: border-box;
}
.column-box-photography {
	height: 410px;
	width: 100%;
	background: #fff;
	border-radius: 24px;
	padding: 50px 40px;
	float: left;
	margin: 0 0 20px 0;
	box-sizing: border-box;
}
.column-box-photography-icon1 {
	height: 56px;
	width: 94px;
	background: #fff4f4;
	border-radius: 12px;
	margin: auto;
}
.column-box-photography-icon2 {
	height: 66px;
	width: 104px;
	background: #ffeaea;
	border-radius: 12px;
	margin: -46px auto 0;
}
.column-box-photography-icon3 {
	height: 76px;
	width: 114px;
	background: #ffdcdc;
	border-radius: 12px;
	margin: -56px auto 0;
}
.column-box-photography-icon3 img {
	height: 48px;
	width: 48px;
	padding: 14px 33px;
}
.column-box-photography-title {
	height: 50px;
	width: 100%;
	font-size: 26px;
	line-height: 50px;
	text-align: center;
	letter-spacing: 1px;
	margin-top: 42px;
}
.column-box-photography-tags {
	height: 32px;
	width: 216px;
	font-size: 16px;
	line-height: 32px;
	text-align: center;
	letter-spacing: 1px;
	color: #888;
	padding: 9px 0;
	margin: auto;
}
.column-box-photography-tag {
	height: 32px;
	width: 60px;
	float: left;
	font-size: 14px;
	line-height: 32px;
	background: #ffdcdc;
	color: #ff4e4e;
	border-radius: 24px;
	margin: 0 6px;
	letter-spacing: 1px;
}
.column-box-photography-btn {
	height: 48px;
	width: 96px;
	line-height: 48px;
	text-align: center;
	background: #999;
	border-radius: 100px;
	padding: 0 15px;
	color: #fff;
	margin: 24px auto 0;
	letter-spacing: 1px;
}
.footers {
	height: 152px;
	width: 100%;
	background: #fff;
	margin-top: 44px;
}
.footer {
	height: 152px;
	width: 100%;
	margin: auto;
	padding: 20px 20px;
	background: #fff;
	box-sizing: border-box;
}
.footer-copyright {
	height: auto;
	width: 100%;
}
.footer-copyright-content {
	float: none;
	height: 16px;
	width: auto;
	line-height: 16px;
	font-size: 13px;
	text-align: center;
	color: #999;
	letter-spacing: 1px;
	margin-bottom: 16px;
}
.footer-copyright-content a {
	text-decoration: none;
	color: #999;
}
.footer-copyright-content a:hover {
	color: #ff4e4e;
}
.footer-copyright-separator {
	display: none;
}
.footer-language {
	height: 16px;
	width: 100%;
	float: left;
	font-size: 13px;
	line-height: 16px;
	text-align: center;
	color: #999;
	letter-spacing: 1px;
	margin-bottom: 16px;
}
.footer-language a {
	text-decoration: none;
	color: #999;
}
.footer-language a:hover {
	color: #ff4e4e;
}
.footer-language span.s1 {
	color: #ddd;
	padding-left: 8px;
	padding-right: 8px;
}
.footer-language span.s2 {
	color: #ddd;
}
}
